{% comment %}
** Boxes Images **
- Draggable section
- Uses blocks
{% endcomment %}

<section class="section-boxes boxes-topright">
  {% if section.settings.boxes_top  != blank %}
    <div class="boxes-item position-absolute boxes-top" data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">
      <img src="{{ section.settings.boxes_top | img_url: 'master' }}" alt="" />
    </div>
  {% endif %}
  {% if section.settings.boxes_center  != blank %}
    <div class="boxes-item position-absolute boxes-center" data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">
      <img src="{{ section.settings.boxes_center | img_url: 'master' }}" alt="" />
    </div>
  {% endif %}
  {% if section.settings.boxes_bottom  != blank %}
    <div class="boxes-item position-absolute boxes-bottom" data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">
      <img src="{{ section.settings.boxes_bottom | img_url: 'master' }}" alt="" />
    </div>
  {% endif %}
  {% if section.settings.boxes_chair  != blank %}
    <div class="boxes-item position-absolute boxes-chair" data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">
      <img src="{{ section.settings.boxes_chair | img_url: 'master' }}" alt="" />
    </div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Boxes Images Top Right",
  "settings": [
    {
      "type": "image_picker",
      "id": "boxes_top",
      "label": "Boxes Top"
    },
    {
      "type": "image_picker",
      "id": "boxes_center",
      "label": "Boxes Center"
    },
    {
      "type": "image_picker",
      "id": "boxes_bottom",
      "label": "Boxes Bottom"
    },
    {
      "type": "image_picker",
      "id": "boxes_chair",
      "label": "Boxes Chair"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
